In [1]:
import os
import sys
os.environ["PYSPARK_PYTHON"] = "/opt/cloudera/parcels/Anaconda/bin/python"
os.environ["JAVA_HOME"] = "/usr/java/jdk1.8.0_161/jre"
os.environ["SPARK_HOME"] = "/opt/cloudera/parcels/SPARK2-2.3.0.cloudera2-1.cdh5.14.3.p0.316101/lib/spark2/"
os.environ["PYLIB"] = os.environ["SPARK_HOME"] + "/python/lib"
sys.path.insert(0, os.environ["PYLIB"] +"/py4j-0.10.6-src.zip")
sys.path.insert(0, os.environ["PYLIB"] +"/pyspark.zip")

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('demo').master("local").getOrCreate()
spark

In [4]:
sc = spark.sparkContext

In [5]:
sc

In [6]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, BooleanType, DoubleType, LongType

In [7]:
import pyspark.sql.functions as f

In [8]:
# Defining Schema

In [9]:
cardschema = StructType([StructField('card_id', StringType(),False),
                        StructField('member_id', StringType(),False),
                        StructField('member_joining_dt', StringType(),False),
                        StructField('card_purchase_dt', StringType(),False),
                        StructField('country', StringType(),False),
                        StructField('city', StringType(),False), 
                        ])

In [10]:
cardf = spark.read.csv("hdfs:/user/root/cap_project/card_member", header = False, schema = cardschema)

In [11]:
#Check number of records loaded from HDFS.
cardf.count()

999

In [12]:
cardf.printSchema()

root
 |-- card_id: string (nullable = true)
 |-- member_id: string (nullable = true)
 |-- member_joining_dt: string (nullable = true)
 |-- card_purchase_dt: string (nullable = true)
 |-- country: string (nullable = true)
 |-- city: string (nullable = true)

In [13]:
cardf.columns

['card_id',
 'member_id',
 'member_joining_dt',
 'card_purchase_dt',
 'country',
 'city']

In [14]:
from pyspark.sql.functions import *
from pyspark.sql.functions import row_number, monotonically_increasing_id
from pyspark.sql import Window
from pyspark.sql import functions as sf

In [15]:
cardf.show()

+---------------+---------------+--------------------+----------------+-------------+-----------------+
|        card_id|      member_id|   member_joining_dt|card_purchase_dt|      country|             city|
+---------------+---------------+--------------------+----------------+-------------+-----------------+
|340028465709212|009250698176266|2012-02-08 06:04:...|           05/13|United States|        Barberton|
|340054675199675|835873341185231|2017-03-10 09:24:...|           03/17|United States|       Fort Dodge|
|340082915339645|512969555857346|2014-02-15 06:30:...|           07/14|United States|           Graham|
|340134186926007|887711945571282|2012-02-05 01:21:...|           02/13|United States|        Dix Hills|
|340265728490548|680324265406190|2014-03-29 07:49:...|           11/14|United States| Rancho Cucamonga|
|340268219434811|929799084911715|2012-07-08 02:46:...|           08/12|United States|    San Francisco|
|340379737226464|089615510858348|2010-03-10 00:06:...|           09/10|United States|          Clinton|
|340383645652108|181180599313885|2012-02-24 05:32:...|           10/16|United States|    West New York|
|340803866934451|417664728506297|2015-05-21 04:30:...|           08/17|United States|        Beaverton|
|340889618969736|459292914761635|2013-04-23 08:40:...|           11/15|United States|  West Palm Beach|
|340924125838453|188119365574843|2011-04-12 04:28:...|           12/13|United States|      Scottsbluff|
|341005627432127|872138964937565|2013-09-08 03:16:...|           02/17|United States|          Chillum|
|341029651579925|974087224071871|2011-01-14 00:20:...|           08/12|United States|   Valley Station|
|341311317050937|561687420200207|2014-03-18 06:23:...|           02/15|United States|        Vincennes|
|341344252914274|695906467918552|2012-03-02 03:21:...|           03/13|United States|        Columbine|
|341363858179050|009190444424572|2012-02-19 05:16:...|           04/14|United States|      Cheektowaga|
|341519629171378|533670008048847|2013-05-13 07:59:...|           01/15|United States|       Centennial|
|341641153427489|230523184584316|2013-03-25 08:51:...|           11/15|United States|       Colchester|
|341719092861087|304847505155781|2015-12-06 08:06:...|           11/17|United States|     Vernon Hills|
|341722035429601|979218131207765|2015-12-22 10:46:...|           01/17|United States|Elk Grove Village|
+---------------+---------------+--------------------+----------------+-------------+-----------------+
only showing top 20 rows

In [16]:
##Read Member score file

In [17]:
memberschema = StructType([StructField('member_id', StringType(),False),
                        StructField('score', IntegerType(),False),
                        ])

In [18]:
memf = spark.read.csv("hdfs:/user/root/cap_project/member_score", header = False, schema = memberschema)

In [19]:
memf.count()

999

In [20]:
memf.show()

+---------------+-----+
|      member_id|score|
+---------------+-----+
|000037495066290|  339|
|000117826301530|  289|
|001147922084344|  393|
|001314074991813|  225|
|001739553947511|  642|
|003761426295463|  413|
|004494068832701|  217|
|006836124210484|  504|
|006991872634058|  697|
|007955566230397|  372|
|008732267588672|  213|
|008765307152821|  399|
|009136568025042|  308|
|009190444424572|  559|
|009250698176266|  233|
|009873334520465|  298|
|011716573646690|  249|
|011877954983420|  497|
|012390918683920|  407|
|012731668664932|  612|
+---------------+-----+
only showing top 20 rows

In [21]:
memf = memf.withColumnRenamed('member_id','mem_id')

In [22]:
memf.printSchema()

root
 |-- mem_id: string (nullable = true)
 |-- score: integer (nullable = true)

In [23]:
memf.columns

['mem_id', 'score']

In [24]:
transasction = StructType([StructField('card_id', StringType(),False),
                        StructField('member_id', StringType(),False),
                        StructField('amount', IntegerType(),False), 
                        StructField('postcode', StringType(),False),
                        StructField('pos_id', StringType(),False),
                        StructField('transaction_dt', StringType(),False), 
                        StructField('status', StringType(),False), 
                        ])

In [25]:
tranf = spark.read.csv("hdfs:/user/root/cap_project/card_transactions.csv", header = True, schema = transasction)

In [26]:
tranf.count()

53292

In [27]:
tranf= tranf.filter(tranf.status!='FRAUD')

In [28]:
tranf.count()

53210

In [29]:
tranf.show()

+---------------+---------------+-------+--------+---------------+-------------------+-------+
|        card_id|      member_id| amount|postcode|         pos_id|     transaction_dt| status|
+---------------+---------------+-------+--------+---------------+-------------------+-------+
|348702330256514|000037495066290|9084849|   33946|614677375609919|11-02-2018 00:00:00|GENUINE|
|348702330256514|000037495066290| 330148|   33946|614677375609919|11-02-2018 00:00:00|GENUINE|
|348702330256514|000037495066290| 136052|   33946|614677375609919|11-02-2018 00:00:00|GENUINE|
|348702330256514|000037495066290|4310362|   33946|614677375609919|11-02-2018 00:00:00|GENUINE|
|348702330256514|000037495066290|9097094|   33946|614677375609919|11-02-2018 00:00:00|GENUINE|
|348702330256514|000037495066290|2291118|   33946|614677375609919|11-02-2018 00:00:00|GENUINE|
|348702330256514|000037495066290|4900011|   33946|614677375609919|11-02-2018 00:00:00|GENUINE|
|348702330256514|000037495066290| 633447|   33946|614677375609919|11-02-2018 00:00:00|GENUINE|
|348702330256514|000037495066290|6259303|   33946|614677375609919|11-02-2018 00:00:00|GENUINE|
|348702330256514|000037495066290| 369067|   33946|614677375609919|11-02-2018 00:00:00|GENUINE|
|348702330256514|000037495066290|1193207|   33946|614677375609919|11-02-2018 00:00:00|GENUINE|
|348702330256514|000037495066290|9335696|   33946|614677375609919|11-02-2018 00:00:00|GENUINE|
|348702330256514|000037495066290|2241736|   33946|614677375609919|11-02-2018 00:00:00|GENUINE|
|348702330256514|000037495066290| 457701|   33946|614677375609919|11-02-2018 00:00:00|GENUINE|
|348702330256514|000037495066290|7176668|   33946|614677375609919|11-02-2018 00:00:00|GENUINE|
|348702330256514|000037495066290|5585098|   33946|614677375609919|11-02-2018 00:00:00|GENUINE|
|348702330256514|000037495066290|7918756|   33946|614677375609919|11-02-2018 00:00:00|GENUINE|
|348702330256514|000037495066290|1611089|   33946|614677375609919|11-02-2018 00:00:00|GENUINE|
|348702330256514|000037495066290| 217221|   33946|614677375609919|11-02-2018 00:00:00|GENUINE|
|348702330256514|000037495066290|2617991|   33946|614677375609919|11-02-2018 00:00:00|GENUINE|
+---------------+---------------+-------+--------+---------------+-------------------+-------+
only showing top 20 rows

In [30]:
score = memf.join(cardf, memf.mem_id == cardf.member_id,how='LEFT')

In [31]:
score.count()

999

In [32]:
score.printSchema()

root
 |-- mem_id: string (nullable = true)
 |-- score: integer (nullable = true)
 |-- card_id: string (nullable = true)
 |-- member_id: string (nullable = true)
 |-- member_joining_dt: string (nullable = true)
 |-- card_purchase_dt: string (nullable = true)
 |-- country: string (nullable = true)
 |-- city: string (nullable = true)

In [33]:
score = score.select('mem_id', 'score', 'card_id')

In [34]:
score.show()

+---------------+-----+----------------+
|         mem_id|score|         card_id|
+---------------+-----+----------------+
|000037495066290|  339| 348702330256514|
|000117826301530|  289|5189563368503974|
|001147922084344|  393|5407073344486464|
|001314074991813|  225| 378303738095292|
|001739553947511|  642| 348413196172048|
|003761426295463|  413| 348536585266345|
|004494068832701|  217|5515987071565183|
|006836124210484|  504|5400251558458125|
|006991872634058|  697|4573337022888445|
|007955566230397|  372|4708912758619517|
|008732267588672|  213|5342400571435088|
|008765307152821|  399|4237648081700588|
|009136568025042|  308| 371814781663843|
|009190444424572|  559| 341363858179050|
|009250698176266|  233| 340028465709212|
|009873334520465|  298|5495445301620991|
|011716573646690|  249|4795844193055110|
|011877954983420|  497|5164771396791995|
|012390918683920|  407|5423921058459194|
|012731668664932|  612|5379610024035907|
+---------------+-----+----------------+
only showing top 20 rows

In [35]:
memf = memf.withColumnRenamed('mem_id','member_id')

In [36]:
memf.show()

+---------------+-----+
|      member_id|score|
+---------------+-----+
|000037495066290|  339|
|000117826301530|  289|
|001147922084344|  393|
|001314074991813|  225|
|001739553947511|  642|
|003761426295463|  413|
|004494068832701|  217|
|006836124210484|  504|
|006991872634058|  697|
|007955566230397|  372|
|008732267588672|  213|
|008765307152821|  399|
|009136568025042|  308|
|009190444424572|  559|
|009250698176266|  233|
|009873334520465|  298|
|011716573646690|  249|
|011877954983420|  497|
|012390918683920|  407|
|012731668664932|  612|
+---------------+-----+
only showing top 20 rows

In [37]:
memf.count()

999

In [38]:
score = score.withColumnRenamed('card_id','cardid')

In [39]:
score.show()

+---------------+-----+----------------+
|         mem_id|score|          cardid|
+---------------+-----+----------------+
|000037495066290|  339| 348702330256514|
|000117826301530|  289|5189563368503974|
|001147922084344|  393|5407073344486464|
|001314074991813|  225| 378303738095292|
|001739553947511|  642| 348413196172048|
|003761426295463|  413| 348536585266345|
|004494068832701|  217|5515987071565183|
|006836124210484|  504|5400251558458125|
|006991872634058|  697|4573337022888445|
|007955566230397|  372|4708912758619517|
|008732267588672|  213|5342400571435088|
|008765307152821|  399|4237648081700588|
|009136568025042|  308| 371814781663843|
|009190444424572|  559| 341363858179050|
|009250698176266|  233| 340028465709212|
|009873334520465|  298|5495445301620991|
|011716573646690|  249|4795844193055110|
|011877954983420|  497|5164771396791995|
|012390918683920|  407|5423921058459194|
|012731668664932|  612|5379610024035907|
+---------------+-----+----------------+
only showing top 20 rows

In [40]:
hist = tranf.join(score, tranf.member_id == score.mem_id,how='outer')

In [41]:
hist.count()

53210

In [42]:
hist.printSchema()

root
 |-- card_id: string (nullable = true)
 |-- member_id: string (nullable = true)
 |-- amount: integer (nullable = true)
 |-- postcode: string (nullable = true)
 |-- pos_id: string (nullable = true)
 |-- transaction_dt: string (nullable = true)
 |-- status: string (nullable = true)
 |-- mem_id: string (nullable = true)
 |-- score: integer (nullable = true)
 |-- cardid: string (nullable = true)

In [43]:
hist = hist.select('card_id', 'amount', 'postcode', 'pos_id','transaction_dt','status','score')

In [44]:
hist.show()

+---------------+-------+--------+---------------+-------------------+-------+-----+
|        card_id| amount|postcode|         pos_id|     transaction_dt| status|score|
+---------------+-------+--------+---------------+-------------------+-------+-----+
|340379737226464|6126197|   46933|167473544283898|01-05-2016 08:10:50|GENUINE|  229|
|340379737226464|7949232|   61840|664980919335952|01-10-2016 10:38:52|GENUINE|  229|
|340379737226464| 943839|   91743|633038040069180|02-08-2016 00:31:25|GENUINE|  229|
|340379737226464|3764114|   91743|633038040069180|02-08-2016 21:35:27|GENUINE|  229|
|340379737226464|6221251|   98384|064948657945290|02-10-2016 14:44:14|GENUINE|  229|
|340379737226464|2868312|   26032|856772774421259|02-12-2016 21:55:43|GENUINE|  229|
|340379737226464|4418586|   20129|390339673634463|02-12-2017 17:05:51|GENUINE|  229|
|340379737226464|7439113|   91763|315067016872305|03-04-2017 11:43:59|GENUINE|  229|
|340379737226464|8217180|   16063|208378790148728|03-05-2017 16:47:43|GENUINE|  229|
|340379737226464|8505852|   64070|695556848392133|03-06-2017 03:07:27|GENUINE|  229|
|340379737226464|8535431|   29817|683602833507395|04-08-2016 20:59:31|GENUINE|  229|
|340379737226464|6317993|   28425|258522244165233|05-05-2017 00:23:45|GENUINE|  229|
|340379737226464|3256860|   16845|933410474855991|05-10-2017 15:09:09|GENUINE|  229|
|340379737226464|1423779|   97640|789378980336517|06-02-2017 02:10:00|GENUINE|  229|
|340379737226464|3783517|   70552|963177679534627|06-12-2016 03:10:30|GENUINE|  229|
|340379737226464|3300714|   75750|072728631441941|07-01-2017 05:52:58|GENUINE|  229|
|340379737226464|5706163|   50455|915439934619047|07-01-2018 22:07:07|GENUINE|  229|
|340379737226464|7445128|   50455|915439934619047|07-01-2018 23:52:27|GENUINE|  229|
|340379737226464| 140120|   18915|691571327905821|07-02-2017 20:18:04|GENUINE|  229|
|340379737226464|7720484|   48423|548702836055067|07-03-2016 14:59:35|GENUINE|  229|
+---------------+-------+--------+---------------+-------------------+-------+-----+
only showing top 20 rows

In [45]:
#history= hist.withColumn("tran_date",
#    to_date(col("transaction_dt"),"dd-MM-yyyy"))
timeform = 'dd-MM-yyyy HH:mm:ss'
history = hist.withColumn('transaction_date',f.unix_timestamp(hist['transaction_dt'],timeform).cast('timestamp'))

In [46]:
history.show()

+---------------+-------+--------+---------------+-------------------+-------+-----+-------------------+
|        card_id| amount|postcode|         pos_id|     transaction_dt| status|score|   transaction_date|
+---------------+-------+--------+---------------+-------------------+-------+-----+-------------------+
|340379737226464|6126197|   46933|167473544283898|01-05-2016 08:10:50|GENUINE|  229|2016-05-01 08:10:50|
|340379737226464|7949232|   61840|664980919335952|01-10-2016 10:38:52|GENUINE|  229|2016-10-01 10:38:52|
|340379737226464| 943839|   91743|633038040069180|02-08-2016 00:31:25|GENUINE|  229|2016-08-02 00:31:25|
|340379737226464|3764114|   91743|633038040069180|02-08-2016 21:35:27|GENUINE|  229|2016-08-02 21:35:27|
|340379737226464|6221251|   98384|064948657945290|02-10-2016 14:44:14|GENUINE|  229|2016-10-02 14:44:14|
|340379737226464|2868312|   26032|856772774421259|02-12-2016 21:55:43|GENUINE|  229|2016-12-02 21:55:43|
|340379737226464|4418586|   20129|390339673634463|02-12-2017 17:05:51|GENUINE|  229|2017-12-02 17:05:51|
|340379737226464|7439113|   91763|315067016872305|03-04-2017 11:43:59|GENUINE|  229|2017-04-03 11:43:59|
|340379737226464|8217180|   16063|208378790148728|03-05-2017 16:47:43|GENUINE|  229|2017-05-03 16:47:43|
|340379737226464|8505852|   64070|695556848392133|03-06-2017 03:07:27|GENUINE|  229|2017-06-03 03:07:27|
|340379737226464|8535431|   29817|683602833507395|04-08-2016 20:59:31|GENUINE|  229|2016-08-04 20:59:31|
|340379737226464|6317993|   28425|258522244165233|05-05-2017 00:23:45|GENUINE|  229|2017-05-05 00:23:45|
|340379737226464|3256860|   16845|933410474855991|05-10-2017 15:09:09|GENUINE|  229|2017-10-05 15:09:09|
|340379737226464|1423779|   97640|789378980336517|06-02-2017 02:10:00|GENUINE|  229|2017-02-06 02:10:00|
|340379737226464|3783517|   70552|963177679534627|06-12-2016 03:10:30|GENUINE|  229|2016-12-06 03:10:30|
|340379737226464|3300714|   75750|072728631441941|07-01-2017 05:52:58|GENUINE|  229|2017-01-07 05:52:58|
|340379737226464|5706163|   50455|915439934619047|07-01-2018 22:07:07|GENUINE|  229|2018-01-07 22:07:07|
|340379737226464|7445128|   50455|915439934619047|07-01-2018 23:52:27|GENUINE|  229|2018-01-07 23:52:27|
|340379737226464| 140120|   18915|691571327905821|07-02-2017 20:18:04|GENUINE|  229|2017-02-07 20:18:04|
|340379737226464|7720484|   48423|548702836055067|07-03-2016 14:59:35|GENUINE|  229|2016-03-07 14:59:35|
+---------------+-------+--------+---------------+-------------------+-------+-----+-------------------+
only showing top 20 rows

In [47]:
history = history.drop('transaction_dt')

In [48]:
history.show()

+---------------+-------+--------+---------------+-------+-----+-------------------+
|        card_id| amount|postcode|         pos_id| status|score|   transaction_date|
+---------------+-------+--------+---------------+-------+-----+-------------------+
|340379737226464|6126197|   46933|167473544283898|GENUINE|  229|2016-05-01 08:10:50|
|340379737226464|7949232|   61840|664980919335952|GENUINE|  229|2016-10-01 10:38:52|
|340379737226464| 943839|   91743|633038040069180|GENUINE|  229|2016-08-02 00:31:25|
|340379737226464|3764114|   91743|633038040069180|GENUINE|  229|2016-08-02 21:35:27|
|340379737226464|6221251|   98384|064948657945290|GENUINE|  229|2016-10-02 14:44:14|
|340379737226464|2868312|   26032|856772774421259|GENUINE|  229|2016-12-02 21:55:43|
|340379737226464|4418586|   20129|390339673634463|GENUINE|  229|2017-12-02 17:05:51|
|340379737226464|7439113|   91763|315067016872305|GENUINE|  229|2017-04-03 11:43:59|
|340379737226464|8217180|   16063|208378790148728|GENUINE|  229|2017-05-03 16:47:43|
|340379737226464|8505852|   64070|695556848392133|GENUINE|  229|2017-06-03 03:07:27|
|340379737226464|8535431|   29817|683602833507395|GENUINE|  229|2016-08-04 20:59:31|
|340379737226464|6317993|   28425|258522244165233|GENUINE|  229|2017-05-05 00:23:45|
|340379737226464|3256860|   16845|933410474855991|GENUINE|  229|2017-10-05 15:09:09|
|340379737226464|1423779|   97640|789378980336517|GENUINE|  229|2017-02-06 02:10:00|
|340379737226464|3783517|   70552|963177679534627|GENUINE|  229|2016-12-06 03:10:30|
|340379737226464|3300714|   75750|072728631441941|GENUINE|  229|2017-01-07 05:52:58|
|340379737226464|5706163|   50455|915439934619047|GENUINE|  229|2018-01-07 22:07:07|
|340379737226464|7445128|   50455|915439934619047|GENUINE|  229|2018-01-07 23:52:27|
|340379737226464| 140120|   18915|691571327905821|GENUINE|  229|2017-02-07 20:18:04|
|340379737226464|7720484|   48423|548702836055067|GENUINE|  229|2016-03-07 14:59:35|
+---------------+-------+--------+---------------+-------+-----+-------------------+
only showing top 20 rows

## Collect
#Transaction Date & Post Code of Last Transaction

In [53]:
look_up_table = history.groupBy('card_id').agg(f.max("transaction_date").alias('transaction_date'))

In [54]:
look_up_table.show()

+----------------+-------------------+
|         card_id|   transaction_date|
+----------------+-------------------+
| 340379737226464|2018-01-27 00:19:47|
| 377201318164757|2017-11-28 16:32:22|
| 348962542187595|2018-01-29 17:17:14|
|4389973676463558|2018-01-26 13:47:46|
|5403923427969691|2018-01-22 23:46:19|
| 345406224887566|2017-12-25 04:03:58|
|6562510549485881|2018-01-17 08:35:27|
|5508842242491554|2018-01-31 14:55:58|
|4407230633003235|2018-01-27 07:21:08|
| 379321864695232|2018-01-03 00:29:37|
| 340028465709212|2018-01-02 03:25:35|
| 349143706735646|2018-01-29 22:33:14|
|4126356979547079|2018-01-24 16:09:03|
|5543219113990484|2018-01-13 18:34:00|
|5464688416792307|2018-01-26 19:03:47|
|6011273561157733|2018-02-01 01:27:58|
|4484950467600170|2018-01-10 08:03:13|
|4818950814628962|2018-01-31 00:53:15|
|5573293264792992|2018-01-31 14:55:57|
|6011985140563103|2018-01-30 02:03:54|
+----------------+-------------------+
only showing top 20 rows

In [55]:
look_up_table.count()

999

In [56]:
score.show()

+---------------+-----+----------------+
|         mem_id|score|          cardid|
+---------------+-----+----------------+
|000037495066290|  339| 348702330256514|
|000117826301530|  289|5189563368503974|
|001147922084344|  393|5407073344486464|
|001314074991813|  225| 378303738095292|
|001739553947511|  642| 348413196172048|
|003761426295463|  413| 348536585266345|
|004494068832701|  217|5515987071565183|
|006836124210484|  504|5400251558458125|
|006991872634058|  697|4573337022888445|
|007955566230397|  372|4708912758619517|
|008732267588672|  213|5342400571435088|
|008765307152821|  399|4237648081700588|
|009136568025042|  308| 371814781663843|
|009190444424572|  559| 341363858179050|
|009250698176266|  233| 340028465709212|
|009873334520465|  298|5495445301620991|
|011716573646690|  249|4795844193055110|
|011877954983420|  497|5164771396791995|
|012390918683920|  407|5423921058459194|
|012731668664932|  612|5379610024035907|
+---------------+-----+----------------+
only showing top 20 rows

In [57]:
look_up_table = look_up_table.join(score, look_up_table.card_id == score.cardid,how='INNER')

In [59]:
look_up_table.count()

999

In [60]:
look_up_table.show()

+----------------+-------------------+---------------+-----+----------------+
|         card_id|   transaction_date|         mem_id|score|          cardid|
+----------------+-------------------+---------------+-----+----------------+
| 340379737226464|2018-01-27 00:19:47|089615510858348|  229| 340379737226464|
| 345406224887566|2017-12-25 04:03:58|296206661780881|  349| 345406224887566|
| 348962542187595|2018-01-29 17:17:14|366246487993992|  522| 348962542187595|
| 377201318164757|2017-11-28 16:32:22|924475891017022|  432| 377201318164757|
| 379321864695232|2018-01-03 00:29:37|082567374418739|  297| 379321864695232|
|4389973676463558|2018-01-26 13:47:46|295554828848966|  400|4389973676463558|
|4407230633003235|2018-01-27 07:21:08|761335698364860|  567|4407230633003235|
|5403923427969691|2018-01-22 23:46:19|922077754605834|  324|5403923427969691|
|5508842242491554|2018-01-31 14:55:58|634200295989311|  585|5508842242491554|
|6562510549485881|2018-01-17 08:35:27|659982919406634|  518|6562510549485881|
| 340028465709212|2018-01-02 03:25:35|009250698176266|  233| 340028465709212|
| 349143706735646|2018-01-29 22:33:14|343824445342591|  298| 349143706735646|
|4126356979547079|2018-01-24 16:09:03|015582765997171|  345|4126356979547079|
|4484950467600170|2018-01-10 08:03:13|570539968421790|  462|4484950467600170|
|4818950814628962|2018-01-31 00:53:15|819006616594636|  660|4818950814628962|
|5464688416792307|2018-01-26 19:03:47|434792568351651|  469|5464688416792307|
|5543219113990484|2018-01-13 18:34:00|501241235491851|  494|5543219113990484|
|5573293264792992|2018-01-31 14:55:57|350307876868039|  284|5573293264792992|
|6011273561157733|2018-02-01 01:27:58|314862932674883|  411|6011273561157733|
|6011985140563103|2018-01-30 02:03:54|393165367933607|  350|6011985140563103|
+----------------+-------------------+---------------+-----+----------------+
only showing top 20 rows

In [61]:
look_up_table = look_up_table.select('card_id','transaction_date')

In [62]:
look_up_table.show()

+----------------+-------------------+
|         card_id|   transaction_date|
+----------------+-------------------+
| 340379737226464|2018-01-27 00:19:47|
| 345406224887566|2017-12-25 04:03:58|
| 348962542187595|2018-01-29 17:17:14|
| 377201318164757|2017-11-28 16:32:22|
| 379321864695232|2018-01-03 00:29:37|
|4389973676463558|2018-01-26 13:47:46|
|4407230633003235|2018-01-27 07:21:08|
|5403923427969691|2018-01-22 23:46:19|
|5508842242491554|2018-01-31 14:55:58|
|6562510549485881|2018-01-17 08:35:27|
| 340028465709212|2018-01-02 03:25:35|
| 349143706735646|2018-01-29 22:33:14|
|4126356979547079|2018-01-24 16:09:03|
|4484950467600170|2018-01-10 08:03:13|
|4818950814628962|2018-01-31 00:53:15|
|5464688416792307|2018-01-26 19:03:47|
|5543219113990484|2018-01-13 18:34:00|
|5573293264792992|2018-01-31 14:55:57|
|6011273561157733|2018-02-01 01:27:58|
|6011985140563103|2018-01-30 02:03:54|
+----------------+-------------------+
only showing top 20 rows

In [63]:
look_up_table = look_up_table.join(history,on=['card_id','transaction_date'],how='left')
look_up_table.count()

1476

In [64]:
look_up_table.show()

+----------------+-------------------+-------+--------+---------------+-------+-----+
|         card_id|   transaction_date| amount|postcode|         pos_id| status|score|
+----------------+-------------------+-------+--------+---------------+-------+-----+
| 378586484293754|2017-12-24 05:14:37|3859271|   24363|753115024049849|GENUINE|  337|
|4356201405998945|2018-01-24 14:23:42|4553231|   43791|339439168301190|GENUINE|  600|
|4418227862530505|2018-01-25 16:43:45|4085014|   14544|028630406062180|GENUINE|  318|
|5400249950855567|2018-01-28 06:10:31|1062269|   24966|757227694469394|GENUINE|  523|
| 373748808330229|2018-01-29 13:46:32|2446006|   25260|459926365561014|GENUINE|  685|
|4353614029446427|2018-01-10 23:51:13|2713094|   15311|791335648163958|GENUINE|  219|
|4598225659063187|2018-01-25 21:59:45| 421272|   50531|657401894365206|GENUINE|  355|
|4689314809377828|2018-01-25 21:59:45|1151530|   29550|365821079545471|GENUINE|  632|
|5447036761675606|2017-11-16 23:38:38| 566003|   32970|900066068310939|GENUINE|  690|
|5508842242491554|2018-01-31 14:55:58|2710473|   12986|990193545769550|GENUINE|  585|
|5572427538311236|2018-01-31 20:11:58|2479113|   91040|341079781603709|GENUINE|  303|
|6011654527329500|2018-01-31 00:53:16|9773537|   58634|018255965744212|GENUINE|  683|
| 347893423075811|2018-01-24 02:06:21|2927191|   15532|320818315059172|GENUINE|  429|
| 371085417506954|2018-01-28 14:57:11| 741464|   19468|551815269280261|GENUINE|  599|
|5316831626197194|2018-01-29 13:46:32|6716709|   40488|704363694703346|GENUINE|  227|
|6011027251671860|2018-01-28 11:26:31| 810486|   43437|617450656798765|GENUINE|  351|
|6011759165664934|2018-01-13 06:16:39|9451754|   56734|598314604248219|GENUINE|  391|
| 343478616471867|2018-01-29 10:15:53| 653774|   10520|639280245606744|GENUINE|  302|
| 346001716915984|2017-11-26 10:06:57|3248384|   61740|525809580544230|GENUINE|  364|
| 347697256845386|2018-01-24 02:06:21|5808752|   15376|887377265331304|GENUINE|  338|
+----------------+-------------------+-------+--------+---------------+-------+-----+
only showing top 20 rows

In [65]:
look_up_table = look_up_table.select('card_id','transaction_date','score','postcode')

In [66]:
look_up_table.show()

+----------------+-------------------+-----+--------+
|         card_id|   transaction_date|score|postcode|
+----------------+-------------------+-----+--------+
| 378586484293754|2017-12-24 05:14:37|  337|   24363|
|4356201405998945|2018-01-24 14:23:42|  600|   43791|
|4418227862530505|2018-01-25 16:43:45|  318|   14544|
|5400249950855567|2018-01-28 06:10:31|  523|   24966|
| 373748808330229|2018-01-29 13:46:32|  685|   25260|
|4353614029446427|2018-01-10 23:51:13|  219|   15311|
|4598225659063187|2018-01-25 21:59:45|  355|   50531|
|4689314809377828|2018-01-25 21:59:45|  632|   29550|
|5447036761675606|2017-11-16 23:38:38|  690|   32970|
|5508842242491554|2018-01-31 14:55:58|  585|   12986|
|5572427538311236|2018-01-31 20:11:58|  303|   91040|
|6011654527329500|2018-01-31 00:53:16|  683|   58634|
| 347893423075811|2018-01-24 02:06:21|  429|   15532|
| 371085417506954|2018-01-28 14:57:11|  599|   19468|
|5316831626197194|2018-01-29 13:46:32|  227|   40488|
|6011027251671860|2018-01-28 11:26:31|  351|   43437|
|6011759165664934|2018-01-13 06:16:39|  391|   56734|
| 343478616471867|2018-01-29 10:15:53|  302|   10520|
| 346001716915984|2017-11-26 10:06:57|  364|   61740|
| 347697256845386|2018-01-24 02:06:21|  338|   15376|
+----------------+-------------------+-----+--------+
only showing top 20 rows

## Calculating UCL

In [67]:
window = Window.partitionBy(history['card_id']).orderBy(history['transaction_date'].desc())

history_df = history.select('*', f.rank().over(window).alias('rank')).filter(f.col('rank') <= 10)

In [68]:
history_df.show()

+---------------+-------+--------+---------------+-------+-----+-------------------+----+
|        card_id| amount|postcode|         pos_id| status|score|   transaction_date|rank|
+---------------+-------+--------+---------------+-------+-----+-------------------+----+
|340379737226464|1784098|   26656|000383013889790|GENUINE|  229|2018-01-27 00:19:47|   1|
|340379737226464|3759577|   61334|016312401940277|GENUINE|  229|2018-01-18 14:26:09|   2|
|340379737226464|4080612|   51338|562082278231631|GENUINE|  229|2018-01-14 20:54:02|   3|
|340379737226464|4242710|   96105|285501971776349|GENUINE|  229|2018-01-11 19:09:55|   4|
|340379737226464|9061517|   40932|232455833079472|GENUINE|  229|2018-01-10 20:20:33|   5|
|340379737226464| 102248|   40932|232455833079472|GENUINE|  229|2018-01-10 15:04:33|   6|
|340379737226464|7445128|   50455|915439934619047|GENUINE|  229|2018-01-07 23:52:27|   7|
|340379737226464|5706163|   50455|915439934619047|GENUINE|  229|2018-01-07 22:07:07|   8|
|340379737226464|8090127|   18626|359283931604637|GENUINE|  229|2017-12-29 13:24:07|   9|
|340379737226464|9282351|   41859|808326141065551|GENUINE|  229|2017-12-28 19:50:46|  10|
|345406224887566|1135534|   53034|146838238062262|GENUINE|  349|2017-12-25 04:03:58|   1|
|345406224887566|5190295|   88036|821406924682103|GENUINE|  349|2017-12-20 04:41:07|   2|
|345406224887566|5970187|   28334|024341862357645|GENUINE|  349|2017-11-30 05:24:25|   3|
|345406224887566|3854486|   48880|172521878612232|GENUINE|  349|2017-09-21 00:01:58|   4|
|345406224887566|1242240|   14510|536497882467098|GENUINE|  349|2017-06-11 16:31:45|   5|
|345406224887566|9222549|   68358|875905403447795|GENUINE|  349|2017-06-10 21:13:03|   6|
|345406224887566|8726784|   64487|617331009748827|GENUINE|  349|2017-03-16 03:04:40|   7|
|345406224887566|2415599|   99137|751829480922658|GENUINE|  349|2017-03-08 12:29:44|   8|
|345406224887566|9671941|   65614|607206139883123|GENUINE|  349|2017-01-21 08:42:47|   9|
|345406224887566|7454950|   18249|368724323320131|GENUINE|  349|2016-12-30 04:46:01|  10|
+---------------+-------+--------+---------------+-------+-----+-------------------+----+
only showing top 20 rows

In [69]:
history_df = history_df.groupBy("card_id").agg(f.round(f.avg('amount'),2).alias('moving_avg'), \
                                                                      f.round(f.stddev('amount'),2).alias('Std_Dev'))
history_df.show()

+----------------+----------+----------+
|         card_id|moving_avg|   Std_Dev|
+----------------+----------+----------+
| 340379737226464| 5355453.1|3107063.55|
| 345406224887566| 5488456.5|3252527.52|
| 348962542187595| 5735629.0|3089916.54|
| 377201318164757| 5742377.7|2768545.84|
| 379321864695232| 4713319.1|3203114.94|
|4389973676463558| 4923904.7| 2306771.9|
|4407230633003235| 4348891.3|3274883.95|
|5403923427969691| 5375495.6|2913510.72|
|5508842242491554| 4570725.9|3229905.04|
|6562510549485881| 5551056.9|2501552.48|
| 340028465709212| 6863758.9|3326644.65|
| 349143706735646| 5453372.9|3424332.26|
|4126356979547079| 4286400.2|2909676.26|
|4484950467600170| 4550480.5|3171538.48|
|4818950814628962| 2210428.9| 958307.87|
|5464688416792307| 4985938.2|2379084.95|
|5543219113990484| 4033586.9|2969107.42|
|5573293264792992| 3929994.0|2589503.93|
|6011273561157733| 4634624.8|2801886.17|
|6011985140563103| 5302878.9| 3088988.7|
+----------------+----------+----------+
only showing top 20 rows

In [70]:
history_df = history_df.withColumn('UCL',history_df.moving_avg+3*(history_df.Std_Dev))
history_df.show()

+----------------+----------+----------+--------------------+
|         card_id|moving_avg|   Std_Dev|                 UCL|
+----------------+----------+----------+--------------------+
| 340379737226464| 5355453.1|3107063.55|1.4676643749999998E7|
| 345406224887566| 5488456.5|3252527.52|       1.524603906E7|
| 348962542187595| 5735629.0|3089916.54|1.5005378620000001E7|
| 377201318164757| 5742377.7|2768545.84|1.4048015219999999E7|
| 379321864695232| 4713319.1|3203114.94|       1.432266392E7|
|4389973676463558| 4923904.7| 2306771.9|1.1844220399999999E7|
|4407230633003235| 4348891.3|3274883.95|1.4173543150000002E7|
|5403923427969691| 5375495.6|2913510.72|       1.411602776E7|
|5508842242491554| 4570725.9|3229905.04|1.4260441020000001E7|
|6562510549485881| 5551056.9|2501552.48|       1.305571434E7|
| 340028465709212| 6863758.9|3326644.65|       1.684369285E7|
| 349143706735646| 5453372.9|3424332.26|       1.572636968E7|
|4126356979547079| 4286400.2|2909676.26|       1.301542898E7|
|4484950467600170| 4550480.5|3171538.48|       1.406509594E7|
|4818950814628962| 2210428.9| 958307.87|          5085352.51|
|5464688416792307| 4985938.2|2379084.95|       1.212319305E7|
|5543219113990484| 4033586.9|2969107.42|       1.294090916E7|
|5573293264792992| 3929994.0|2589503.93|1.1698505790000001E7|
|6011273561157733| 4634624.8|2801886.17|1.3040283309999999E7|
|6011985140563103| 5302878.9| 3088988.7|1.4569845000000002E7|
+----------------+----------+----------+--------------------+
only showing top 20 rows

In [71]:
history_df = history_df.select('card_id','UCL')

In [72]:
look_up_table = look_up_table.join(history_df,on=['card_id'])

In [73]:
look_up_table.show()

+----------------+-------------------+-----+--------+--------------------+
|         card_id|   transaction_date|score|postcode|                 UCL|
+----------------+-------------------+-----+--------+--------------------+
| 340379737226464|2018-01-27 00:19:47|  229|   26656|1.4676643749999998E7|
| 345406224887566|2017-12-25 04:03:58|  349|   53034|       1.524603906E7|
| 348962542187595|2018-01-29 17:17:14|  522|   27830|1.5005378620000001E7|
| 377201318164757|2017-11-28 16:32:22|  432|   84302|1.4048015219999999E7|
| 379321864695232|2018-01-03 00:29:37|  297|   98837|       1.432266392E7|
|4389973676463558|2018-01-26 13:47:46|  400|   10985|1.1844220399999999E7|
|4407230633003235|2018-01-27 07:21:08|  567|   50167|1.4173543150000002E7|
|5403923427969691|2018-01-22 23:46:19|  324|   17350|       1.411602776E7|
|5508842242491554|2018-01-31 14:55:58|  585|   12986|1.4260441020000001E7|
|6562510549485881|2018-01-17 08:35:27|  518|   35440|       1.305571434E7|
| 340028465709212|2018-01-02 03:25:35|  233|   24658|       1.684369285E7|
| 349143706735646|2018-01-29 22:33:14|  298|   99101|       1.572636968E7|
|4126356979547079|2018-01-24 16:09:03|  345|   14475|       1.301542898E7|
|4484950467600170|2018-01-10 08:03:13|  462|   13324|       1.406509594E7|
|4818950814628962|2018-01-31 00:53:15|  660|   88081|          5085352.51|
|5464688416792307|2018-01-26 19:03:47|  469|   71670|       1.212319305E7|
|5543219113990484|2018-01-13 18:34:00|  494|   62273|       1.294090916E7|
|5573293264792992|2018-01-31 14:55:57|  284|   27012|1.1698505790000001E7|
|6011273561157733|2018-02-01 01:27:58|  411|   45305|1.3040283309999999E7|
|6011985140563103|2018-01-30 02:03:54|  350|   36587|1.4569845000000002E7|
+----------------+-------------------+-----+--------+--------------------+
only showing top 20 rows

In [74]:
look_up_table = look_up_table.dropDuplicates((['card_id','transaction_date','postcode']))

In [75]:
look_up_table.count()

1000

In [76]:
#pushing data to hbase
import happybase
connection = happybase.Connection('localhost', port=9090 ,autoconnect=False)

In [77]:
def open_connection():
    connection.open()

def close_connection():
    connection.close()

def list_tables():
 print "fetching all table"
 open_connection()
 tables = connection.tables()
 close_connection()
 print "all tables fetched"
 return tables

In [78]:
#create the required table 
def create_table(name,cf):
 print "creating table " + name
 tables = list_tables()
 if name not in tables:
  open_connection()
  connection.create_table(name, cf)
  close_connection()
  print "table created"
 else:
  print "table already present"
#get the pointer to a table
def get_table(name):
 open_connection()
 table = connection.table(name)
 close_connection()
 return table

In [79]:
 create_table('look_up_table', {'info' : dict(max_versions=5) })

creating table look_up_table
fetching all table
all tables fetched
table created

In [85]:
#batch insert data in lookup table
def batch_insert_data(df,tableName):
 print "starting batch insert of events"
 table = get_table(tableName)
 open_connection()
 rows_count=0

#Creating a rowkey for better data query. RowKey is the cardId .
 rowKey_dict={}
 with table.batch(batch_size=4) as b:
   for row in df.rdd.collect():
    b.put(bytes(row.card_id) , { 'info:card_id':bytes(row.card_id),
                        'info:transaction_date':bytes(row.transaction_date),
                        'info:score':bytes(row.score),
                        'info:postcode':bytes(row.postcode),
                        'info:UCL':bytes(row.UCL)})

 

 print "batch insert done"
 close_connection()

In [86]:
batch_insert_data(look_up_table,'look_up_table')

starting batch insert of events
batch insert done